.Section__Post{
    display: flex;
    flex-wrap: wrap;
}

.author_img{
    max-width: 30rem;
    max-height: 20rem;
}
.post__info{
    margin: 5rem;
}
.form-group-cat{
    margin-left: 1rem;
}

.form-control-radio{
    display: flex;
}