.registration {
    border: 1px dotted lightseagreen;
    padding: 1rem;
}

.registration__game {
    font-family: "Patua One";
    font-weight: bold;
    letter-spacing: 0.15rem;
}
.cards {
    display: flex;

    /* Put a card in the next row when previous cards take all width */
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
}

.cards__item {
    /* There will be 4 cards per row */
    flex-basis: 25%;
    background-color: lightskyblue;
    margin-right: 1rem;
    padding-left: 8px;
    padding-right: 8px;
}